p = @guideContent
p = @guideContent["title"]

img.champImg src="https://ddragon.leagueoflegends.com/cdn/13.1.1/img/champion/#{@guideContent["name"]}.png"

/ - @items.6 do |item|
/     img src="https://ddragon.leagueoflegends.com/cdn/13.1.1/img/item/#{@items["item_id"]}.png"