p = @guideContent
p = @guideContent["title"]

form action="/guide/#{@guideContent['id']}/edit" method="get" 
    input type="submit" value="Edit"/

img.champImg src="https://ddragon.leagueoflegends.com/cdn/13.1.1/img/champion/#{@guideContent["name"]}.png"

- @items.each do |item|
    img src="https://ddragon.leagueoflegends.com/cdn/13.1.1/img/item/#{item["item_id"]}.png"
